.fondo{
    background-color: $white;
}

.notis{
    padding: 50px;
    h2{
        padding: 50px;
        text-align: center;
        font-family:'Bakbak One';
        font-size: 80px;
        color:$violeta;
    }
    h5{
        text-align: center;
        font-family:'Bakbak One';
        font-size: 30px;
        color:$white;
    }
    p{
        text-align: center;
        font-family:'Bakbak One';
        font-size: 16px;
        color:white;
    }
}
.cajas{
   background-color: $pink;
}


.show h5{
    font-size: 40px;
    font-family:'Bakbak One';
}
.show p{
    font-size: 20px;
    font-family:'Bakbak One';
}
